<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script src="static/script.js" defer></script>
    <title>FSMP Calculation Results</title>
</head>
<body>
    <h1>FSMP Calculation Results</h1>
    <h2>Press button below to run FSMP calculations:</h2>
    <button onclick="runAllSteps()">Run FSMP Calculations</button>
    <div id="progress"></div>
    
    <div id="table-section" style="display:none;">
        <h2>View FSMP Calculation Tables</h2>
        <select id="calc-table-select" onchange="viewCalcTable()">
            <option value="">Select a table</option>
    </div>

    <button onclick="window.location.href='/'">Go Back</button>
</body>
</html>